.mainDisplay {
  position: relative;
  background-color: #316B83;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (64px * 3));
  min-height: 400px;
}
